/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    background: #F3F1FF;
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    justify-content: center;
}
/* Top players styles */
.container{
    width: 870px;
    background: #FFFFFF;
}
.top-players{
    margin: 30px;
}
.section-title{
    font-size: 24px;
    color: #562EFF;
    font-weight: 500;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.palyer{
    display: flex;
    align-items: center;
}
.palyer img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-top: 30px;
}